body{
    margin: 0;
    padding: 0;
    font-family: Arial;
}

.c1{
    background-color: SaddleBrown;
    color:white;
    height: 100px;
}

#g1{
    width: 55%;
    font-size: 120%;
    float: left;
}

#d1{
    width: 55%;
    font-size: 120%;
    float: left;
}


#g2{
    width: 25%;
    float: left;
}

#d2{
    width: 25%;
    float: left;
}


#g3{
    width: 20%;
    text-align: right;
    float: left;
    
}

#d3{
    width: 20%;
    text-align: right;
    float: left;
    
}

#main{
    color: black;
    background-color: Snow;
    padding: 70px;
    clear: both;
}


#link{
    border: dotted 2px SaddleBrown;
    background-color:Snow;
    padding: 20px;
    line-height: 100px;
}

#list{
    list-style-type: lower-latin;
}

